body {
  background-color: #dff2ef;
  max-width: 320px;
  padding: 20px 0;
}
.splash {
  margin: 0 auto;
}
.logo.org::after {
  font-size: 30px;
  top: 3px;
}
p {
  max-width: 200px;
  margin: auto;
}
input {
  max-width: 280px;
  margin: 5px auto;
}
button {
  background-color: #ce5424;
  max-width: 280px;
  margin: 5px auto;
}
button:hover {
  background-color: #ff5f2e;
}
