<div class="form-group tag-input-group">

  <!-- <div class="drag">
    <p ng-if="data && data.length > 1">
      <img src="/static/img/css/sort-arrows.png" style="margin:0px 0px 7px 0px" />
      <br /><b>drag in order of importance</b>
      <br />place most used first
      <br />
    </p>
  </div>
   -->

  <div class="selected">
    <label for="tagInput">Selected</label>

    <!--  sortable get='tags' set='updateTags' -->
    <ul class="tags" ng-if="data.length > 0">
      <li ng-repeat="tag in data | orderBy:'sort'" ng-attr-data-id="{{tag._id}}">
        {{tag.slug}}
        <a class="remove" ng-click="onRemove(tag)">x</a>
        <!-- <a ng-if="data.length > 1" class="order"></a> -->
      </li>
    </ul>

    <p ng-if="!data || data.length == 0">No tags selected yet</p>
  </div>

  <label for="tagInput">Search technologies</label>
  <input type="text" class="tagInput form-control"
    placeholder='Type tech like "ios7"'
    ng-model="selected"
    uib-typeahead="t as t.name for t in getTags($viewValue)"
    typeahead-wait-ms="200"
    typeahead-editable="false"
    typeahead-loading="loading"
    typeahead-no-results="noResults"
    typeahead-template-url="tagMatch.html"
    typeahead-on-select="onSelect($item, $model, $label)"
    >

 <!-- | filter:{name:$viewValue} -->
 <!--
    typeahead-input-formatter="keypressSelect($model)" tabindex="351" -->

  <div ng-show="loading">
    <p class="none">loading ...</p>
<!--   <i ng-show="loading" class="glyphicon glyphicon-refresh"></i> -->
  </div>
  <div ng-show="noResults">
    <p class="none">No match for <span>{{none}}</span>... </p>
<!-- ng-if=" && !addErrorMsg && !adding" -->
    <!-- <a ng-click="addTag(none)">add tag</a> <span>{{none}}</span>?</b>
    <i ng-if="adding" class="none">Checking stackoverflow ...</i>
    <i class="none error">No tag found on stackoverflow
       for auto-populating. <br /><a href="mailto:team@airpair.com?Subject=New%20tag%20{{none}}" target="_blank"><b>Email us to maunaully add {{none}}</b></a>?</i>
    </div> -->
  <div>
</div>


<script type="text/ng-template" id="tagMatch.html">
  <div>
    <a class="inputtagmatch">
      <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
      <p ng-bind-html="match.model.desc | uibTypeaheadHighlight:query"></p>
    </a>
  </div>
</script>

