<!-- <div post-review-from></div> -->
<div class="revs" ng-if="reviews">

  <header>
    <h4>Reviews ({{reviews.length}})
      <span ng-if="reviews.length > 0">
        Rating {{post.stats.rating | number:1 }}/5</span>
    </h4>
  </header>

  <p ng-if="reviews.length == 0" class="none">
    No reviews yet ...
  </p>

  <ul ng-if="reviews.length > 0">
    <li ng-repeat="r in reviews | orderBy : 'votes.length':true" class="{{r._id}}"  review="r" post-id="post._id" post-review></li>
  </ul>

</div>



