<div ng-if="Errs.length > 0" class="alert alert-danger alert-notification">
  <div ng-repeat='e in Errs'>
    <h4 ng-bind-html="(e.message || e) | html"></h4>
    <p ng-if="e.code != 403">
      Err... sorry about this. Please
      <a href="https://github.com/airpair/consult.airpair.com/issues" target="_blank">
        tell us what happened</a>.
    </p>
    <button ng-click="clear()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
</div>
